/* http://en.wikipedia.org/wiki/Web_colors#HTML_color_names */
.khaki { background: rgb(240, 230, 140); }
.limeGreen { background: rgb(50, 205, 50); }
.silver { background: rgb(192, 192, 192); }
.error { background: red; }