h3 {
  margin-bottom: 5px;
  padding-top: 10px;
}

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

td input {
  width: 40px;
}

.horse_information {
  width: 270px;
  float:left;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.need_calculation {
  float:left;
}

.fodder_silver {
  float:left;
 /* clear: both;*/
}

fieldset {
  width: 230px;
}

legend {
  text-align: center;
  padding-top: 10px;
}

#fodder_header {
  float:left;
}

#calculation_header {
  float: left;
}

#fodder_calculator {
  float:left;
}

.fodder-calculations {
  padding-top: 10px;
}

.add_fodder {
  width:40px;
}

.fodder-name {
  width: 100px;
}

#footer {
  padding-top: 10px;
  clear: both;
}